.about{
height:90vh;
width: 100%;
position: relative;
}
.aboutOverlay{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
background-color:rgba(0,0,0,.4);
height: 65.8%;
}
.about-head{
   height: 60%;
   width: 100%;

   
}
.about-pictures{
   width: 100%;
   height: 100vh;
   display: flex;
   border-bottom: rgb(242, 163, 5) 10px solid !important ;
}
.about-pic1{
background-image: url(https://cdn.pixabay.com/photo/2015/07/02/10/23/training-828741_1280.jpg);
background-size: cover;
background-repeat: no-repeat;
width: 50%;
height: 60%;
}

.about-pic2{
   background-image: url(https://cdn.pixabay.com/photo/2016/11/22/22/25/abs-1850926_1280.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   width: 50%;
   height: 60%;
}
