.calculator {
  height: 30vh;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  /* border-color: rgba(62, 67, 70, 0.26); */
  /* background-color: rgb(62 67 69 / 17%); */

  background: initial;
  /* box-shadow: rgb(0 0 0 / 95%) 0px 2px 70px 5px; */
  background-color: black;
}
.input-bmi {
  width: 6vw;
  height: 7vh;
  text-align: center;
}
.bmi-button {
  color: white;
  width: 6vw;
  margin-left: 10px;
  margin-right: 10px;
  background: rgb(242, 163, 5);
  height: 7vh;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  font-weight: 1000;
  text-align: center;
}
.bmi-button:hover {
  background: rgba(160, 100, 41, 0.468);
}
