* {
  font-family: "Nunito", sans-serif;
}

.MuiImageList-root {
  width: 60vw !important;
  height: auto !important;
}

.artical-img-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: larger;
  color: orange;
  margin-top: 60px;
}

.artical-container {
  display: flex;
  justify-content: center;
  background: #000000;
  /* background: -webkit-linear-gradient(to right, #434343, #000000); */
  /* background: linear-gradient(to right, #434343, #000000); */
  /* background: linear-gradient(to right, #323232e8, #a7a7a7); */
  background-color: gray;
  position: relative;
  /* flex-direction: row-reverse; */
}

.modal-image {
  height: 100vh;
}

.artical-section-container {
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
  overflow: hidden;
}

ul::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
ul {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* .article-container-header {
  background: #000000;

  background: -webkit-linear-gradient(to right, #434343, #000000);

  background: linear-gradient(to right, #434343, #000000);
} */

.artical-header {
  font-size: xxx-large !important;
  color: rgb(242, 163, 5);
}

.MuiImageList-root {
  gap: 10px !important;
}

.artical-img-itembar:hover {
  padding: 30px;
}

.imgsection-title {
  color: white;
}

@media only screen and (max-width: 768px) {
  .artical-container {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
  .artical-img-section {
    display: none;
  }
  .MuiImageList-root {
    grid-template-columns: 90vw !important;
    justify-content: center;
  }
}

.MuiImageList-root {
  width: 95vw !important;
}

.MuiImageListItemBar-titleWrap.MuiImageListItemBar-titleWrapBottom.css-1lizpae-MuiImageListItemBar-titleWrap {
  display: none;
}

.articaleOverlay {
  width: 100%;
  height: 100%;

  background: #f2a3054a;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,

    #000000b3,
    #f2a305b3
  );
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,

    #885b007a,
    #885b007a
  );
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  position: absolute;
}

.articaleTitle {
  position: absolute;
  /* top: 30%; */
  text-align: center;
  font-weight: bold;
  font-family: nunito;
  font-weight: bolder;
  /* left: 40%; */
  color: white;
  width: 20vw;
  text-align: left;
  z-index: 3;
  bottom: 35%;
  left: 13%;
}

.MuiImageListItem-root.MuiImageListItem-standard.article-images.css-ta95xa-MuiImageListItem-root
  .css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  position: absolute;
  z-index: 4;
  background-color: rgb(242, 163, 5, 0.85);
  font-size: large;
  font-weight: bold;
  color: white;
  top: 68%;
  width: 18vw;
  height: 10vh;
  /* border-radius: 0; */
  left: 13%;
}

.MuiImageListItem-root.MuiImageListItem-standard.article-images.css-ta95xa-MuiImageListItem-root
  .css-1e6y48t-MuiButtonBase-root-MuiButton-root:hover {
  background-color: rgba(233, 233, 233, 0.7);
  color: gray;
}

.articales-head {
  height: 30%;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 2px 20px rgba(28, 27, 27, 0.958);
  transition: transform 300ms ease-in;
  border-radius: 2%;
  /* border: 1px rgba(255, 166, 0, 0.192) solid; */
}

@media only screen and (max-width: 1200px) {
  .articaleTitle {
    position: absolute;
    /* top: 30%; */
    text-align: center;
    font-weight: bold;
    font-family: nunito;
    font-weight: bolder;
    /* left: 40%; */
    color: white;
    width: 170px;
    text-align: left;
    z-index: 3;
    bottom: 35%;
    left: 13%;
    font-size: medium;
    transform: translate(10px, -60px);
  }
}

@media only screen and (max-width: 666px) {
  .articaleTitle {
    position: absolute;
    /* top: 30%; */
    text-align: center;
    font-weight: bold;
    font-family: nunito;
    font-weight: bolder;
    /* left: 40%; */
    color: white;
    width: 170px;
    text-align: left;
    z-index: 3;
    bottom: 35%;
    left: 13%;
    font-size: medium;
    transform: translate(10px, 0px);
  }
}

@media only screen and (max-width: 995px) {
  .readMoreButton {
    position: absolute !important;
    z-index: 4 !important;
    background-color: rgb(242, 163, 5, 0.85) !important;
    font-size: large !important;
    font-weight: bold !important;
    color: white !important;
    height: 6vh !important;
    font-size: medium !important;
    width: 15vw !important;
  }
}
.readMoreButton {
  color: rgba(255, 255, 255, 0.832) !important;
  background-color: rgba(255, 166, 0, 0.727) !important;
  position: absolute !important;
  z-index: 4 !important;
  background-color: rgb(242, 163, 5, 0.85) !important;
  font-size: large !important;
  font-weight: bold !important;
  color: white !important;
  height: 7vh !important;
  font-size: medium !important;
  width: 15vw !important;
}
.readMoreButton:hover {
  background-color: rgba(155, 101, 0, 0.727) !important;
}
