.logoContainer {
  width: 10vw;
  height: 10vh;
  justify-content: space-between;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.logo {
  /* width: 30%;
  height: 50%;
  
  border: 1px solid black;
  border-radius: 50%; */
  height: 80%;
  width: 50%;
}
