.accontMenuContainer {
  margin-top: 3.5%;
  right: 0;
}
.accountInformationContainer {
  margin-right: 5%;
}

.accountMenuTitle {
  text-align: center;
  margin: 0;
}
.MuiList-root.MuiList-padding.MuiMenu-list.css-r8u8y9 {
  background-color: white;
  width: 20vw;
  height: 70vh;
  margin-right: 200px;
}
hr {
  border-top: 1px solid grey;
}
.loginAndRegisterContainer {
  display: flex;
  justify-content: space-evenly;
}
.MuiButtonBase-root.MuiMenuItem-root.MuiMenuItem-gutters.css-12x4bse-MuiButtonBase-root-MuiMenuItem-root {
  width: 50%;
  color: black;
  justify-content: center;
}
.myCartButtonContainer {
  display: flex !important;
  flex-direction: column !important;
  margin: 0 !important;
  align-content: center !important;
  align-items: center !important;
  width: 100% !important;
  /* margin-left: 25% !important; */
}
.MuiList-root.MuiList-padding.MuiMenu-list.css-6hp17o-MuiList-root-MuiMenu-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.accInfoHR {
  width: 80%;
  margin-left: 10%;
}
@media only screen and (max-width: 768px) {
  .accountInformationContainer {
    margin: 0;
  }
  .MuiList-root.MuiList-padding.MuiMenu-list.css-6hp17o-MuiList-root-MuiMenu-list {
    width: 95vw;
  }
  .css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
    top: 10vh !important;
  }
  .accontMenuContainer {
    width: 95vw !important;
    /* margin-right: ; */
  }
}
