.cartContainer {
  width: 36vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.cartItemsContainer {
  height: 55vh;
  width: 36vw;
  overflow: auto;
}
.cartTitleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
}

.cartTitleIcon {
  font-size: xxx-large !important;
  text-align: center;
}
.cartTitleBorder {
  width: 30vw;
  margin-left: 2.5vw;
}
.buttonsContainer {
  margin-left: 2.5vw;
  width: 30vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.buttonsContainer .css-1plxeyz-MuiButtonBase-root-MuiButton-root:hover {
  background-color: gray;
}
.buttonsContainer .css-1plxeyz-MuiButtonBase-root-MuiButton-root {
  width: 30vw;
}
.buttonsContainer .css-sghohy-MuiButtonBase-root-MuiButton-root {
  width: 30vw;
  height: 30%;
}
.buttonsContainer
  .MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeLarge.MuiButton-containedSizeLarge.myCartButton.css-1hw9j7s {
  width: 30vw;
  height: 30%;
}
.buttonsContainer
  .MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeLarge.MuiButton-containedSizeLarge.myCartButtonTwo.css-5xfyy2 {
  width: 30vw;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: gray;
}
.cartSum {
  color: black;
  text-align: start;
  margin-top: 5vh;
  margin-left: 2.5vw;
  text-transform: uppercase;
  font-size: medium;
}
@media only screen and (max-width: 768px) {
  .cartContainer {
    width: 100vw;
  }
  .cartItemsContainer {
    width: 95vw;
    margin-left: 2.5vw;
  }
  .buttonsContainer {
    width: 95vw;
    margin-left: 2.5vw;
  }
  .buttonsContainer .myCartButton {
    width: 80vw;
  }
  .buttonsContainer .myCartButtonTwo {
    width: 80vw;
    height: 6vh;
  }
  .cartTitleBorder {
    width: 95vw;
    margin-left: 2.5vw;
  }
  .cartSum {
    text-align: center;
  }
  .buttonsContainer
    .MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeLarge.MuiButton-containedSizeLarge.myCartButton.css-1hw9j7s {
    width: 80vw;
  }
  .buttonsContainer
    .MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeLarge.MuiButton-containedSizeLarge.myCartButtonTwo.css-5xfyy2 {
    width: 80vw;
    height: 6vh;
  }
}
