.navBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96vw;
  height: 10vh;
  padding-left: 2vw;
  padding-right: 2vw;
  position: fixed;
}
nav.white {
  background: #ece9e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: black;
}

nav.azurLane {
  background: #7f7fd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}
nav.instagram {
  background: #833ab4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fcb045,
    #fd1d1d,
    #833ab4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fcb045,
    #fd1d1d,
    #833ab4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}
nav.skyWhite {
  background: #e0eafc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #cfdef3,
    #e0eafc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #cfdef3,
    #e0eafc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: rgb(29, 28, 28);
}
nav.deepSpace {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343e0,
    #000000e0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: rgb(242, 163, 5);
}
.unvisible {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
nav.netflix {
  background: #8e0e00; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1f1c18,
    #8e0e00
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1f1c18,
    #8e0e00
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: rgb(171, 170, 170);
}

.logoAndTitleContainer {
  display: flex;
  align-items: center;
  margin-right: 5%;
}
.itemsContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.dropbtn {
  /* background-color: #04aa6d; */
  /* color: white; */
  /* padding: tpx; */
  /* font-size: 16px; */
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  /* padding-top: 35%; */
  background-color: #f1f1f1;
  min-width: 10vw;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  /* padding-left: 25%; */
  /* padding-right: 25%; */
  padding-top: 10%;
  padding-bottom: 5%;
  padding-left: 5%;
  text-decoration: none;
  display: block;
  color: black;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.order1 {
  order: 1;
}
.order2 {
  order: 2;
}
.order3 {
  order: 3;
}

@media only screen and (max-width: 768px) {
  .logoAndTitleContainer {
    width: 100%;
    margin: 0;
    text-align: center;
    justify-content: space-evenly;
  }
  .logoContainer {
    display: none;
  }
  .titleContainer {
    width: 40%;
  }
  .itemsContainer {
    display: none;
  }
  .searchContainer {
    display: none;
  }
  .navBarContainer {
    justify-content: center;
  }
}
