*{
    margin: 0;

 
}
 .main-container{
    width: 100%;
    height: 100vh;
border-top: rgb(242, 163, 5) 2px solid;
border-bottom: rgb(242, 163, 5) 6px solid !important ;

}
video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
background-color:rgba(0,0,0,.4);


} 
