.container-text {
  display: flex;
  line-height: 60px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-family: "Nunito", sans-serif;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  margin-top: 50px;
  width: 100%;
}

.container-header {
  font-size: 55px;
  color: white;
  margin-bottom: 20px;
}

.container-description {
  font-size: 25px;
  color: #fff;
}

.btn {
  margin-left: 10px !important;
  margin-right: 10px !important;
  background: rgb(242, 163, 5) !important;
  height: 7vh;
  font-family: "Nunito", sans-serif !important;
  font-size: 15px !important;
  font-weight: 1000 !important;
}

.btn:hover {
  background: rgb(196, 113, 19);
}

.buttons {
  display: flex;
  flex-direction: row;
}

.orange {
  color: rgb(242, 163, 5);
}

.colorText {
  color: rgb(242, 163, 5);
  font-size: xx-large;
}

.siteNameText {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5%;
  padding: 4px;
  font-size: 30px;
}

@media only screen and (max-width: 768px) {
  .container-text {
    display: flex;
    line-height: 40px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: "Nunito", sans-serif;
    position: absolute;
    height: 100%;
    top: 0;
  }

  .container-description {
    color: #fff;
  }

  .colorText {
    color: rgb(242, 163, 5);
    font-size: 25px;
  }

  .container-header {
    font-size: 20px;
    color: white;
    margin-top: 12vh;
  }
  .buttons {
    margin-top: 25vh;
  }
}
